celery[redis]
email-validator
fastapi
flower
httpx
jinja2
pandas
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
redis
sqlalchemy
typer
uvicorn[standard]

# dev dependencies
alembic  # data migrations
celery-types
faker  # seed data
pandas-stubs
pytest  # test
psutil  # performance assessments
