email-validator
fastapi
jinja2
pandas
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
sqlalchemy
uvicorn

# dev dependencies
alembic  # data migrations
faker  # seed data
pytest  # test
psutil  # performance assessments
